* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
}

.col {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title,
.btn {
    padding: 15px;
    border-radius: 10px;
    transition: background 0.3s ease-in-out;
    font-size: 1.7rem;
}

.btn {
    outline: none;
    border: none;
    background: transparent;
}

.title:hover,
.btn:hover {
    cursor: pointer;
    background: rgba(0,0,0,0.1);
}